{% extends 'base.html.twig' %}


{% block body %}

        <div class="text-center">
                <p><br><br><br>Vous allez être rediriger vers la page de paiement !<br>Merci de patientez.</p>
        </div>

{% endblock body %}